<section id="hero" style="background-color: rgb(199, 214, 60);">
    
            <div class="" >
                
                    <h2>HOSPITAL MANAGEMENT SYSTEM </h2>
                    <div>
                        <img src="https://www.sooriyahospital.com/assets/images/Banner6.png" alt="" width="1000px" height="250px">
                    </div>
                        <div>
                            <h5>About the Hospital</h5>
                            <p>Hospital, an institution that is built, staffed, and equipped for the diagnosis of disease; for the treatment, both medical and surgical, of the sick and the injured; and for their housing during this process.</p>
                        </div>
            </div>
</section>